<!DOCTYPE html>
<html>
    <head>
        <title>Krautarchiv-Testinstanz</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <div class="center">
            <p>
            [% FOREACH board_list %]
                <a href="/board/?board_id=[% board_id %]">[% board %]</a>([% thread_count %])
            [% END %]
            </p>
            <p> 
                <a href=/top_ten/?type=files>Top 10 Images</a>
                <a href=/top_ten/?type=subjects>Top 10 Subjects</a>
                <a href=/show_files/>Show Files</a>
                <a href=/tags/>Tags</a>
                <a href=/stats/>Statistics</a>
                <form class="search" action="/search/" method="GET">
                    <input type="text" name="s" />
                    <input type="submit" value="Search" />
                </form>
            </p>
            <p>
                Total Posts: [% total_posts %] | Total Files: [% total_files %]
            </p>
        </div>
